<div class="c-reset">
  <div  class="reset-password-form">
    <h1><%= t ".reset_password" %></h1>
    <div>
      <%= form_for resource, as: resource_name, url: password_path(resource_name), method: :patch do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="pf-title">
          <%= t ".password" %>
          <span class="required-field"></span>
        </div>
        <div class="pf-field">
          <%= f.password_field :password %>
        </div>

        <div class="pf-field">
          <%= t ".password_confirmation" %>
          <span class="required-field"></span>
        </div>
        <div class="pf-field">
          <%= f.password_field :password_confirmation %>
        </div>
        <div >
        <%= f.submit t(".update_password"), class:"btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
