<h1><%= t ".reset_password" %></h1>
<p><%= t ".intro" %></p>
<%= link_to t(".reset_password"), edit_password_url(@resource, reset_password_token: @token) %>
<p><%= t ".expire" %></p>
<p><%= t ".ignore" %></p>
